
body{
    background: linear-gradient( 115deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url(https://res.cloudinary.com/du2rjnoya/image/upload/v1712472857/OTS-Java-Project/happy-waiter-serving-food-group-cheerful-friends-pub_637285-12525_j7srnd.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;   
}

.logo{
    width: fit-content;
    margin: 64px auto;
}

.menu-container{
    text-align: center;
    background-color:rgba(0, 0, 0, 0.50);
    width: 90%;
    padding: 24px;
    margin: 40px auto;
    border-radius: 24px;
}

.menu{
    text-align: center;
}

.underline{
    width: 100px;
    height: 4px;
    border-radius: 10px;
    background-color: #ffc700;
}

.img-sec{
    width: 40%;
    height: auto;
}

img{
    border-radius: 12px 0 0 12px;
}

.text-sec{
    width: 60%;
    height:auto;
}

.menu-item-title{
    text-transform: capitalize;
}

.card:hover .card-text-section{   
    background-color: rgb(255, 218, 173);

}

.card{
    background-color: none;
}

.card-text-section{
    background-color: rgb(255, 245, 229);
    border-radius: 0 12px 12px 0;
}

.filter-btn{
    text-transform: capitalize;
    border-radius: 12px;
    border: none;
    padding: 12px 10px;
    width: 120px;
    background-color: #ffc700;   
}

.filter-btn:focus{
    background-color: #0038ff;
    color: white;
}

.filter-btn:hover{
    background-color: red;
    color: white;
}

@media screen and (max-width: 575px) {
    .card-text-section{
        border-radius: 0 0 12px 12px;
    }

    img{
        border-radius: 12px 12px 0 0;
    }
}